ul.bjqs{
    background: #e3e3e3;
    display:none;
    float: left;
    list-style:none;
    margin: 0;
    overflow:hidden; 
    padding: 15px;
    position:relative; 
}

ul.bjqs li img {
    background: white;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #c2c2c2;
    -webkit-box-shadow: inset 0px 1px 3px 1px rgba(200, 200, 200, 1);
    box-shadow: inset 0px 1px 3px 1px rgba(200, 200, 200, 1);
    float: left;
    height: 150px;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
}

ul.bjqs li a.textoSlider {
    color: #444;
    cursor: pointer;
    float: left;
    font-size: 20px;
    line-height: 1.4em;
    max-height: 150px;
    margin-top: 10px;
    overflow: hidden;
    width: 290px;
}

ul.bjqs li a.textoSlider100 {
    color: #444;
    cursor: pointer;
    float: left;
    font-size: 20px;
    line-height: 1.4em;
    max-height: 150px;
    margin-top: 10px;
    overflow: hidden;
    width: 536px;
}

ul.bjqs-controls {
    float: left;
    left: -5px;
    position: relative;
    top: -45px;
    width: 575px;
}

ul.bjqs-controls li.bjqs-prev a{
    background: url('../images/bjqs-izqda.png') 0 0 no-repeat;
    float: left;
    height: 49px;
    width: 50px;
}

ul.bjqs-controls li.bjqs-next a{
    background: url('../images/bjqs-drcha.png') 0 0 no-repeat;
    float: right;
    height: 49px;
    width: 50px;
}


/*ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}

ol.bjqs-markers{    
    list-style: none; 
    padding: 0; 
    margin: 0; 
    width:100%;
}

ol.bjqs-markers.h-centered{text-align: center;}

ol.bjqs-markers li {
    background: url('../images/sprite-marcas.png') 0 0 no-repeat;
    display:inline;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

ol.bjqs-markers li a{
    height: 12px;
    text-indent: -999999em;
    width: 12px;
}

ol.bjqs-markers li:hover {
    background-position: -15px 0; 
}

ol.bjqs-markers li.active-marker {
    background-position: -15px 0;
}

ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}*/