<article class="ruta">
    {% set nItems = values.ruta | length %}

    {% for key,ruta in values.ruta %}
        {% if key == 0 %}
            <a href="{{app.path}}">{{ruta.nombre}}</a>
        {% else %}
            <a {% if ruta.url.url != (app.path ~ urlAmigable)%}href="{{ruta.url.url}}{%endif%}">{{ruta.nombre}}</a>
        {% endif %}    
        {% if key+1 < nItems %}
            <span class="sprite"></span>
        {% endif %}
    {% endfor %}
</article>