{% extends layout %}

{% block navegacion %}{% include '_global/navegacionGeneral.html.twig' %}{% endblock %}

{% block contenido %}

<section class="contenedorGrande">
    {% include 'Contenidos/noticia.html.twig' %}
        
    {% if values.contenidoDesarrollado.contenido.ShowDocuments.IDTipo == '1' %}
        {% include 'Contenidos/ficherosAdjuntos.html.twig' %}  
    {% endif %}

    {% if values.contenidoDesarrollado.contenido.ShowRelatedLinks.IDTipo == '1' %}
        {% include 'Contenidos/enlacesRelacionados.html.twig' %}    
    {% endif %}    

    {% if values.contenidoDesarrollado.contenido.ShowGalery.IDTipo == '1' %}
        {% include 'Contenidos/galeria.html.twig' %}   
    {% endif %}        

    <article class="botonera">
        <a href="javascript:history.back()" title="{{values.LABELS.volverAtras}}" class="sprite">{{values.LABELS.volverAtras}}</a>
    </article>
</section>   
{% endblock %}

{% block bannerPie %}
    {% include '_global/bannerPie.html.twig' %}   
{% endblock %}
