{% extends layout %}

{% block menuCabecera %}{% endblock %} 

{% block contenido %}
<section id="zonaPrivada">
    <h2 class="superTitular rojo">{{values.TEXTS.olvidoContraseña}}</h2>
    {% if values.errores | length == 0 %}    
        <article class="colIz"> 
            <p class="info">{{values.TEXTS.textoOlvido}}</p>
        </article>

        <article class="colDrcha">    	                                
                {% include 'ZonaPrivada/formularioOlvido.html.twig' %}
        </article>
    {% else %}
        <article class="colIz">

        </article>

        <article class="colDrcha">    	                                
            {% include 'ZonaPrivada/mensajes.html.twig' %}
        </article>    
    {% endif %}
</section>
{% endblock %}

