{% set archivos = values.servicio.docsAdjuntos %}
{% set nArchivos = archivos|length %}

{% if nArchivos > 0 %}

    <!-- ARCHIVOS ADJUNTOS -->
    <h5>{{values.LABELS.archivosAdjuntos}}</h5>
    <section id="adjuntos" class="cajaGris borderTopRojo">
        <ul>
            {% for key,archivo in archivos %}
            <li><a href="{{app.path}}/{{archivo.PathName}}" rel="pop-up">{{archivo.Name}}</a></li>
            {% endfor %}
        </ul>
    </section>
    
{% endif %}