{% extends '_global/layoutLaptopPopup.html.twig' %}


{% block contenido %}
<div class="contenidoslegales">

<h2>Condiciones de Uso</h2><br /><br />

<b>INFORMACIÓN GENERAL</b><br /><br />
<p>El presente sitio web tiene por objeto la intermediación de productos relacionados con el mundo de la fotografía y otras variedades. Dichos productos se exhiben en la web, donde se muestra una descripción de los mismos, así como un precio para su adquisición.</p>
<p>El prestador tiene la figura de mero intermediario. Los usuarios pueden tanto vender como comprar los productos en su web. No se achacará responsabilidad alguna al intermediario por posibles deficiencias en la adquisición de los productos.</p>
<p>Los artículos pueden ser nuevos o de segunda mano. Esta información será facilitada en la descripción de los productos.</p>

<b>INFORMACIÓN ACERCA DE LA CLAVE PERSONAL DE ACCESO</b><br /><br />
<p>La clave de acceso es personal  e intransferible, compuesta  por una dirección de email y una contraseña (password) para poder visitar zonas de uso restringido, los usuarios serán los únicos que podrán hacer uso del mismo y, en consecuencia, se responsabilizarán por todas las operaciones realizadas con dicha clave.</p>
<p>Facilitar, usar, intentar descifrar la  clave  de acceso de otros o desvelarla a otras personas no autorizadas, es considerado como una grave violación de las normas de utilización y seguridad. Si el usuario tuviera razones para creer que su clave es o puede ser conocida por alguna persona no autorizada para ello, deberá modificar la misma.</p>

<b>EXACTITUD DE LA INFORMACIÓN</b><br /><br />
<p>En el portal se deberán mostrar los productos con una descripción fehaciente de los mismos. No se exigirá responsabilidad al prestador cuando la misma sea incompleta o inexacta.</p>

<b>SOBRE LOS PRODUCTOS</b><br /><br />
<p>El acceso a la página se realiza en un entorno seguro. La responsabilidad por los productos o servicios ofrecidos en el portal por terceras personas o entidades corresponde exclusivamente a éstas. El prestador, en ningún caso asume el riesgo y ventura de las operaciones y relaciones entre el usuario y las personas o entidades mencionadas.</p>

<b>FORMA DE ADQUISICIÓN</b><br /><br />
<p>Una vez se elija el producto dentro de la web, comprador y vendedor se pondrán de acuerdo para su intercambio. La responsabilidad del mismo recaerá exclusivamente al vendedor.</p>

<b>VALIDEZ</b><br /><br />
<p>Si por cualquier disposición legal o declaración judicial alguna de las normas contenidas en estos apartados no se ajustase a Derecho, ello no obstará para que el resto de los términos y condiciones no afectados se consideren válidos a todos los efectos.</p>

<b>BAJA DE LA CUENTA</b><br /><br />
<p>Cuando el usuario no desee que sus productos sigan mostrándose en nuestro portal, bastará simplemente con retirar el contenido desde su cuenta.</p>
<p>Igualmente, en cualquier momento se podrá dar de baja en la cuenta poniéndose en contacto con el prestador a través de correo electrónico, info@vendocamara.es, notificando baja de la cuenta.</p>
</div>
{% endblock %}


