{# Mensaje de confirmación de registro #}
{% extends layout %}

{% block menuCabecera %}{% endblock %} 

{% block contenido %}
<section>
    <p>{{values.TEXTS.graciasRegistro}}</p>
</section>
{% endblock %}